<script id='item-update-template' type='text/template'>
	<div class='row'>
		<div class='col-lg-6'>
			Name
		</div>
		<div class='col-lg-6'>
			<input class='name' type='text' value='<%= item.name %>' />
		</div>	
	</div>
	<div class='row'>
		<div class='col-lg-6'>
			Quantity
		</div>
		<div class='col-lg-6'>
			<input class='name' type='text' value='<%= item.quantity %>' />
		</div>
	</div>
	<div class='row'>
		<div class='col-lg-6'>
			<button class='delete'>Remove Item</button>
		</div>
		<div class='col-lg-6'>
			<button class='save'>Save</button>
		</div>
	</div>
</script>
