<script id='item-update-template' type='text/template'>
    <div class='row'>
        <div class='col-xs-6'>
            Name:
        </div>
        <div class='col-xs-6'>
            <input class='name' type='text' value='<%= item.name %>' />
        </div>	
    </div>
    <div class='row'>
        <div class='col-xs-6'>
            Quantity:
        </div>
        <div class='col-xs-6'>
            <input class='quantity' type='text' value='<%= item.quantity %>' />
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-6'>
            Location:
        </div>
        <div class='col-xs-6'>
            <input class='location' type='text' value='<%= item.location %>' />
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-6'>
            Tags:
        </div>
        <div class='col-xs-6'>
            <input class='tags' type='text' value='<%= item.tags %>/>
        </div>
    </div>
    <div class='row'>
        <div class='col-xs-6'>
            <button class='save'>Save</button>
        </div>
        <div class='col-xs-6'>
            <button class='delete'>Remove</button>
        </div>
    </div>
</script>
