<script id='suggestion-template' type='text/template'>
    <li class='suggestion' data-id='<%= item.id %>'>
        <span>
            <%= item.name  %>
        </span>
    </li>
</script>

<script id='suggestions-loading-template' type='text/template'>
    <li class='suggestion loading'>
        Gimme a sec...
    </li>
</script>

<script id='suggestions-none-template' type='text/template'>
    <li class='suggestion none'>
        I have no idea what you trying to type!
    </li>
</script>

<script id='suggestions-error-template' type='text/template'>
    <li class='suggestion error'>
        Somethings messed up, I can't show you anything
    </li>
</script>
